<div class="container">
    <form [formGroup]="signupForm" (ngSubmit)="onSignUpClick()">
        <h2>Sign Up</h2>
        <div class="form-group">
            <label for="newUsername">Username</label>
            <input type="text"  formControlName="newUsername" class="form-control" id="newUsername" placeholder="Enter new username">
        </div>
        <div class="form-group">
            <label for="newPassword">Password</label>
            <input type="password"  formControlName="newPassword" class="form-control" id="newPassword" placeholder="Enter new password">
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm password">
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
        <p>Alteady have an account? <a routerLink="/login">Sign In</a></p>
    </form>
</div>
